@model Alumno

@{
    ViewData["Title"] = "Información Alumno";
}

<div class="text-center">
    <h1 class="display-4"> @ViewData["Title"]</h1>
    
    <strong>Vista normal</strong>
    <p>
        Nombre: @Model.Name
        </br>
        Id: @Model.UniqueId
    </p>

    <strong>Vista Parcial</strong>
    <partial name="ObjetoEscuelaSimple"/>

    @* @for(int i=0;i<4;i++){
        <p>@ViewBag.simple[i]</p>
    } *@
    <p>@ViewBag.Fecha</p>
</div>

